.breadcrumb-wrapper
  line-height: 20px
  background-color: lighten($darkblue, 1%)
  padding: 7px 20px
  border-bottom: lighten($darkblue, 5%) 1px solid
  border-top: darken($darkblue, 5%) 1px solid
  font-size: 11px
  clear: both

  @media only screen and (max-width: $breakpoint-large)
    display: none


  a
    color: lighten($darkblue, 80%)

  .breadcrumbs__separator
    margin: 0px 4px

  .breadcrumbs__crumb--active
    color: lighten($darkblue, 50%)
