button, .button
  background-color: #52728a
  border: 0px
  border-radius: 5px
  color: #fff
  padding: 10px 20px
  font-weight: 400
  outline: none
  cursor: pointer
  margin-bottom: 10px
  transition: background-color 0.1s cubic-bezier(0, -0.41, 0.19, 1.44)

  &.small
    font-size: 14px
    padding: 8px 18px

button.primary, .btn-primary
  background-color: #2d9a2c
  border: 0px

.btn-link
  color: #ccc

.btn-link:hover
  color: #fff

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover
  background-color: lighten(#333, 5%)

button.primary:hover, .btn-primary:hover
  background-color: lighten(#2d9a2c, 5%)

button:hover
  background-color: lighten(#52728a, 5%)

button.primary:active, .btn-primary:active
  background-color: darken(#2d9a2c, 5%) !important

button.primary:focus, .btn-primary:focus
  background-color: darken(#2d9a2c, 5%) !important

button:active
  background-color: darken(#52728a, 5%) !important

button:disabled:hover, button:disabled
  background-color: #aaa

