button {
  background-color: #52728a;
  border: 0px;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  font-weight: 200;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

button.primary {
  background-color: #2d9a2c;
}

button.primary:hover {
  background-color: lighten(#2d9a2c, 5%);
  transition: background-color 0.02s linear;
}



button:hover {
  background-color: lighten(#52728a, 5%);
  transition: background-color 0.02s linear;
}

button.primary:focus {
  background-color: darken(#2d9a2c, 5%) !important;
}

button:focus {
  background-color: darken(#52728a, 5%) !important;
}