.cluster-apps
  h6
    font-size: 12px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 2px

.cluster-apps--app, .installed-apps--app
  background-color: #395c72
  margin-bottom: 14px;
  padding: 12px
  border-radius: 5px

  img
    width: 36px
    height: 36px
    margin-right: 16px
    float: left
    position: relative
    top: 3px
    border-radius: 5px
    background-color: #fff

  small
    font-size: 12px

#installed-apps
  margin-bottom: 25px
  p:last-child
    margin: 0px

#installed-apps-section
  margin-bottom: 25px
  padding-bottom: 25px
  border-bottom: 1px solid #2a5974

.browse-apps
  button
    margin-top: 5px
    margin-bottom: 10px