@keyframes yellowfade
    from
      background: #e8d986
    to
      background: transparent
  
.cluster-details
  h1
    margin-bottom: 0px
    line-height: 45px

  .upgrade-available
    font-family: Roboto, sans-serif
    color: $gold
    i
      color: $gold

  .ingress-port-table
    margin-bottom: 0px

    dt
      float: left
      width: 55px
      margin-bottom: 5px
      clear: both

    dd
      margin-bottom: 5px
  
  .resource-details
    margin-bottom: 7px

  .last-updated
    margin-left: 10px

