.cluster-details
  h1
    margin-bottom: 0px
    line-height: 45px

  .upgrade-available
    padding-left: 10px
    font-family: Roboto, sans-serif
    color: $gold
    i
      color: $gold

  .ingress-port-table
    margin-bottom: 0px

    dt
      float: left
      width: 55px
      margin-bottom: 5px
      clear: both

    dd
      margin-bottom: 5px
  
  .resource-details
    margin-bottom: 7px

    .resource-details-button
	    padding-left: 10px

  .last-updated
    margin-left: 2px

.cluster_key_pairs
  .react-bootstrap-table table
    table-layout: auto
  
  .certificate-orgs-column
    max-width: 350px
    white-space: wrap
    display: table-cell
    overflow-wrap: normal
    word-break: break-all

.keypairdetails

  .modal-body
    overflow-x: auto

  .labelvaluepair
    margin-bottom: 1em

  .labelvaluepair--label
    font-size: 12px
    text-transform: uppercase
    color: #ccc

.cluster_key_pairs, .keypairdetails
  .certificate-orgs-label
    display: flex
    flex-wrap: wrap

  .orglabel
    margin-right: 2px
    font-family: Inconsolata, monospace
    font-size: 0.95em
    font-weight: 400
    border-radius: 3px
    padding: 3px 5px
    margin-right: 3px
    margin-bottom: 3px
    color: #c7c5bd
    background-color: darken($darkblue, 5%)
    white-space: nowrap
    display: inline-block

  .breaking
    word-break: break-all
