.cluster-list-item-enter
  opacity: 0

.cluster-list-item-enter.cluster-list-item-enter-active
  opacity: 1
  transition: opacity 200ms ease-in

.cluster-list-item-exit
  opacity: 1

.cluster-list-item-exit.cluster-list-item-exit-active
  opacity: 0
  transition: opacity 200ms ease-in