.cluster_key_pairs
  .loader
    width: 25px
    height: 25px
    margin-bottom: 25px

  .react-bootstrap-table table
    table-layout: auto

  .certificate-orgs-column
    max-width: 350px
    white-space: wrap
    display: table-cell
    overflow-wrap: normal
    word-break: break-all

.keypairdetails, .appdetails
  .modal-body
    overflow-x: auto

  .labelvaluepair
    margin-bottom: 1em

    button
      margin-top: 5px

  .labelvaluepair--label
    font-size: 12px
    text-transform: uppercase
    color: #ccc

.appdetails--upperlabels
  display: flex
  flex-wrap: wrap
  margin-bottom: 25px

  .labelvaluepair
    width: 50%

.appdetails--userconfiguration
  background-color: #395c72
  padding: 20px
  border-radius: 5px
  margin-top: 5px

  .actions
    margin-top: 10px

.keypairdetails
  .breaking
    word-break: break-all
