@keyframes expand
  from
    transform: scale(1, 0)
    opacity: 0
    background: #5470B0

@keyframes slide-up
    0%
        opacity: 0
        transform: translateY(20px)
    100%
        opacity: 1
        transform: translateY(0)


.cluster-list-item-enter
  opacity: 0

.cluster-list-item-enter-active
  opacity: 1
  transition: opacity 500ms ease-in

.cluster-list-item-exit
  opacity: 1

.cluster-list-item-exit-active
  opacity: 0
  transition: opacity 500ms ease-in

.cluster-dashboard-item--buttons
  text-align: right
  flex: 0 0 210px

  .progress_button--container:last-child
    margin-right: 0px

.cluster-dashboard
  position: relative

  .loader
    display: none

  &.loading
    transition: opacity 0.1s cubic-bezier(0, -0.41, 0.19, 1.44)

    .loader
      margin-top: 100px
      position: absolute
      display: block
      text-align: center
      left: 50%
      margin-left: -25px