.codeblock--container {
  font-family: "Inconsolata";
  margin-bottom: 25px;
  margin-top: 25px;

  &:hover {
    pre {
      background-color: #3d3d3d
    }

    .codeblock--buttons {
      background-color: #276996;
    }
  }

  pre {
    background-color: #333333;
    padding: 7px 13px;
    border-radius: 10px;
    position: relative;
    transition: background-color 0.02s linear;
  }

  .content {
    overflow: hidden;
  }

  .codeblock--filename {
    font-family: "Inconsolata";
    color: #189de9;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .codeblock--buttons {
    position: absolute;
    height: 40px;
    top: 0px;
    right: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: background-color 0.02s linear;
    z-index: 10;

    a {
      text-decoration: none;
      display: inline-block;
      height: 100%;
      padding: 0px 14px;
      color: #aaa;
      line-height: 40px;

      &:hover {
        color: #fff;
      }
    }

    a:first-child {
      padding-left: 18px;
      padding-right: 5px;
    }

    a:last-child {
      padding-left: 14px;
      padding-right: 14px;
    }

    &:active {
      background-color: darken(#276996, 5%);
    }
  }

  .codeblock--line {
    font-family: "Inconsolata";
    transition: color 0.02s linear;
    color: #d6d7d1;
  }

  .codeblock--line .codeblock--prompt-indicator {
    color: #189de9;
  }

  .codeblock--copy-confirmation {
    color: #a4e405;
    opacity: 0;
    margin-left: 10px;
    transition: opacity 0.1s linear;
  }

  .codeblock--copy-confirmation.visible {
    opacity: 1;
  }

  .codeblock--checkmark {
    top: 10px;
    right: -30px;
    position: absolute;
    z-index: 0;
    color: #189de9;
  }

  &.oneline {
    .codeblock--buttons {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 10px;
    }
  }

  &.hovering {
    .codeblock--line {
      color: #695e55;
    }

    .codeblock--filecontents {
      .codeblock--line {
        color: #fff
      }
    }

    .codeblock--filename {
      font-family: "Inconsolata";
      color: #189de9;
      font-weight: 700;
    }

    .codeblock--line.codeblock--prompt {
      color: #fff;

      .codeblock--prompt-indicator {
        color: #556d78;
      }
    }
  }

  &.clicked {
    .codeblock--line.codeblock--prompt {
      color: #cdd3d6;
    }
  }
}

.codeblock--checkmark {
  opacity: 1;
  transform: scale(0, 0);
}

.checkmark-enter {
  opacity: 1;
  transform: scale(0.2, 0.2);
  transition: all 0.2s cubic-bezier(0,-.41,.19,1.44);
}

.checkmark-enter-active {
  opacity: 1;
  transform: scale(1.5,1.5);
}

.checkmark-leave {
  opacity: 1;
  transition: all 0.5s cubic-bezier(.87,-.41,.19,1.44);
  transform: scale(1.2,1.2) rotate(0deg);
}

.checkmark-leave-active {
  opacity: 0;
  transform: scale(0.1,0.1) rotate(270deg);
  right: 0px !important;
}
