.component_slider--container {
  position: relative;
  width: 800px;
  margin: auto;
  margin-top: 50px;
}

.component_slider--step {
  position: absolute;
  width: 100%;
  background-color: #2f536e;
  padding: 20px 30px 20px 30px;
  border-radius: 10px
}