.configure_containers--selected-container
  float: left
  color: #bac4cc
  box-sizing: border-box
  border-radius: 5px
  width: 670px
  min-height: 500px
  background-color: #34526b
  padding: 8px 35px

  input
    background-color: #3d5a71
    width: 50px
    text-align: center

.configure_containers--navigation
  float: left
  margin: 0px
  margin-top: 25px
  padding: 0px
  list-style-type: none
  width: 130px
  margin-bottom: 40px

  li
    font-family: "Inconsolata"
    font-weight: 400
    padding: 12px 14px
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    margin-bottom: 10px
    color: #9aa9b5
    cursor: pointer
    transition: background-color 0.2s

  li.active
    background-color: #34526b
    color: #ccc

  li:hover
    color: #ccc

h3
  font-weight: 200
  margin-bottom: 8px
  color: #fff
  position: relative
  top: -7px

small
  display: block
  color: #a6b4c0

hr
  border: 0px
  border-top: 1px solid #2b455a
  border-bottom: 1px solid #375770
