.copyable
  padding-right: 20px
  position: relative
  overflow: inherit
  text-overflow: inherit
  display: block

  .copyable-content
    position: relative
    overflow: inherit
    text-overflow: inherit
    display: inherit

  &:hover
    .copyable-tooltip
      opacity: 0.7

  .copyable-tooltip
    top: 0px
    right: 0px
    position: absolute
    display: inline-block
    opacity: 0
