.launch-new-cluster
  font-size: 14px

  .btn
    padding: 8px 20px

.new-cluster
  .checkbox
    margin-bottom: 0px

.new-cluster--worker
  border-radius: 5px
  background-color: #244d65
  height: 203px
  margin-bottom: 25px
  padding: 10px 16px
  font-weight: 400
  font-size: 14px

  .new-cluster--worker-title
    position: relative
    margin-bottom: 15px

  .new-cluster--delete
    position: absolute
    right: 0px
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    -o-user-select: none
    user-select: none

    &:hover
      font-weight: bold

    &:active
      color: #aaa

  .ReactTags__tags
    .ReactTags__tagInput
      display: inline-block

      input
        background-color: #2a5067
        border: 0px
        cursor: pointer

        &:focus
          outline: none

    .ReactTags__tag
      background-color: #3b5f7b
      padding: 2px 8px
      border-radius: 5px
      margin-right: 5px
      margin-bottom: 5px
      display: inline-block

      .ReactTags__remove
        color: #aaa
        margin-left: 6px
        cursor: pointer
        &:hover
          text-decoration: none
          color: #fff

.new-cluster--worker-setting-row
  margin-bottom: 15px

  &.readonly
    opacity: 0.5

  &.inmodal
    .new-cluster--worker-setting-control
      width: 25%

    .new-cluster--worker-setting-control-increase, .new-cluster--worker-setting-control-decrease
      background-color: lighten(#3b5f7b, 10%)

.new-cluster--worker-setting-label
  width: 40%
  display: inline-block
  line-height: 35px

.new-cluster--worker-setting-control
  width: 60%
  display: inline-block
  height: 35px
  background-color: #32526a
  line-height: 35px
  text-align: center
  border-radius: 5px
  position: relative

.new-cluster--worker-setting-control-increase, .new-cluster--worker-setting-control-decrease
  position: absolute
  top: 0px
  width: 35px
  background-color: #3b5f7b
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

  &:hover
    background-color: darken(#3b5f7b, 2%)

  &:active
    background-color: darken(#3b5f7b, 6%)
    color: #aaa

.new-cluster--worker-setting-control-increase
  right: 0px
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px

.new-cluster--worker-setting-control-decrease
  left: 0px
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px

.new-cluster--worker-setting-label-control
  width: 100%
  background-color: #2a5067
  border-radius: 5px
  padding: 10px

.new-cluster--add-worker-button
  border-radius: 5px
  border: 1px dashed #5f8096
  height: 203px
  margin-bottom: 25px
  text-align: center
  cursor: pointer
  vertical-align: middle
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  padding-top: 90px
  user-select: none

  &.warning
    padding-top: 70px

  &:hover
    border: 1px dashed lighten(#5f8096, 10%)

  &:active
    background-color: lighten($darkblue, 1%)
    color: #fff

  .new-cluster--add-worker-button-title


  .new-cluster--low-worker-warning
    font-size: 14px
    padding: 0px 35px
    color: lighten(#5f8096, 15%)

.new-cluster--launch
  text-align: center

  .progress_button--container
    margin-top: 18px


.new-cluster--instance-type-selector
  form
    position: relative

.new-cluster--instance-type-selector-button
  cursor: pointer
  position: absolute
  top: 0px
  right: 0px
  background-color: #3a5f7b
  height: 39px
  line-height: 39px
  padding: 0px 12px
  font-size: 18px
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px

  &.disabled
    color: lighten(#3a5f7b, 10%)
    cursor: default

.new-cluster--instance-type-selector-modal
  .modal-dialog
    width: 650px

.new-cluster--instance-type-selector-modal.aws
  .new-cluster--instance-type-selector-table
    tbody td, thead th
      width: 138px

      &:first-child
        width: 30px

.new-cluster--instance-type-selector-table
  margin-bottom: -10px
  border-bottom: 0px
  width: auto
  display: block
  table-layout: fixed

  thead
    tr
      width: 100%

  tbody, thead
    display: block

  tbody td, thead th
    padding-top: 10px
    padding-bottom: 10px
    padding-left: 0px
    padding-right: 5px
    width: 148px

    &:first-child
      width: 30px

  tbody
    height: 300px
    overflow: auto;

  tbody tr
    cursor: pointer

  td
    vertical-align: top
    font-size: 14px

  td.numeric, th.numeric
    text-align: center

  td.description
    font-size: 12px

.new-cluster--worker-count
  input
    width: 60px
    margin-right: 15px
    text-align: center
