.create-key-pair
  background-color: darken($darkblue, 5%)
  padding: 100px 150px
  padding-top: 150px
  text-align: center
  margin: 20px 0px
  border-radius: 10px

.key-pair-error
  height: 20px
  font-size: 14px

  .flash-messages--flash-message
    display: inline
    position: relative
    top: 10px

.created-key-pair
  font-size: 14px
  .codeblock--container
    text-align: left

    .codeblock--line
      word-wrap: none !important

  h4
    margin-top: 0px
    font-size: 16px

  .cert-downloads
    text-align: center
    margin-top: 30px
    margin-bottom: 10px


  .button
    margin-right: 10px
    width: 175px
    padding: 6px 0px
    display: inline-block


.create-key-pair-modal
  .modal-dialog
    width: 95%
    max-width: 700px

.create-key-pair-modal--success
  textarea
    height: 300px
    font-family: "Inconsolata"
    background-color: #333333
    padding: 9px 13px
    border-radius: 10px
    position: relative
    transition: background-color 0.02s linear
    border: none
    line-height: auto
    padding-right: 55px
    overflow: visible

.cluster_key_pairs
  .loader
    width: 25px
    margin-bottom: 25px