.noty_body
  font-family: Roboto, sans-serif
  font-weight: 400
  p
    font-weight: 400
    margin-bottom: 5px
    margin-top: 5px
    line-height: 1.5

  code
    background-color: #fff
    color: #000

#noty_layout__topRight
  top: 52px

// closing animation for noty messages
.flash_message_close
  animation: noty_anim_out 0.2s cubic-bezier(0.68, 0, 0.265, 1.55)
  animation-fill-mode: forwards
