.flash-messages--container
  margin-top: 30px
  margin-bottom: 30px

.flash-messages--flash-message
  background-color: #eee
  border: 1px solid #888
  border-radius: 4px
  color: #888
  position: relative
  padding: 7px 10px
  padding-right: 20px
  margin-bottom: 10px
  font-size: 14px

  &:last-child
    margin-bottom: 0px

.flash-messages--dismiss
  cursor: pointer
  position: absolute
  top: 10px
  right: 10px
  font-weight: 700

.flash-messages--success
  background-color: #dff0d8
  border-color: #d6e9c6
  color: #3c763d

.flash-messages--info
  background-color: #d9edf7
  border-color: #bce8f1
  color: #31708f

.flash-messages--warning
  background-color: #fcf8e3
  border-color: #faebcc
  color: #8a6d3b

.flash-messages--danger
  background-color: #f2dede
  border-color: #ebccd1
  color: #a94442


.flash-messages--transition-appear, .flash-messages--transition-enter
  opacity: 0
  transform: translateY(-5px)

.flash-messages--transition-appear-active, .flash-messages--transition-enter-active
  opacity: 1
  transform: translateY(0px)
  transition: all 0.2s linear

.flash-messages--transition-leave
  opacity: 0

.flash-messages--transition-leave-active
  transition: all 0s linear
  opacity: 0


