form {
  label {
    display: block;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    background-color: #32526a;
    border: 0px;
    padding: 8px 10px;
    outline: 0;
    color: #fff;
    margin-bottom: 8px;
    color: #f0f0f0;
    border-radius: 4px;

    border: 1px solid lighten(#32526a, 5%);
    padding-left: 15px;

    &:focus {
      border: 1px solid lighten(#32526a, 15%);
    }
  }

  input[type="password"] {
    letter-spacing: 3px;
    font-weight: 700;
  }
}

.CodeMirror pre {
  padding: 0px 12px
}

.ReactCodeMirror {
  margin-bottom: 10px;
  width: 100%;
}

.CodeMirror {
  font-size: 14px;
  border-radius: 4px;
}

.CodeMirror-gutters {
  background-color: darken(#32526a, 10%) !important;
  border: 0px;
}

.CodeMirror-gutter {

}

.CodeMirror-linenumber {
  color: #8c8d8c;
}

.cm-s-solarized .cm-atom {
  color: #ccc
}