.logout--container {
  margin: auto;
  width: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -12.5px;
  text-align: center;

  img {
    vertical-align: middle;
    width: 25px;
  }
}

.logout--mask {
  background-color: #152531;
  opacity: 1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  display: block;
  z-index: 0;
}

.logout--mask--transition-appear {
  opacity: 0;
}

.logout--mask--transition-appear-active {
  opacity: 1;
  transition: all 0.2s linear;
}