nav
  height: 50px
  line-height: 50px
  font-size: 14px
  position: fixed
  top: 0px
  left: 0px
  right: 0px
  z-index: 1
  background-color: $darkblue
  background-color: darken($darkblue, 3%)

  .currentuser
    color: #97a8b2
    margin-right: 18px

  .col-8
    margin: auto

  .subactions
    float: right
    a
      &:last-child
        margin-right: 0px

  .logo
    width: 22px
    vertical-align: middle
    position: relative
    top: -1px

  .main-nav>a
    text-decoration: none
    color: #eee
    margin-right: 18px

    &:hover
      color: #fff