.table.node-table
  border-bottom: 0px
  width: 100%

  @media only screen and (max-width: $breakpoint-large)
    th
      display: none

    td
      display: block

  >thead
    >tr
      >th
        border-bottom: 2px solid #989898

  >tr
    border-bottom: 0px

  >tbody
    >tr
      @media only screen and (max-width: $breakpoint-large)
        display: block
        border-bottom: 1px solid lighten($darkblue, 0%)
        border-top: 1px solid lighten($darkblue, 10%)
        padding-bottom: 25px
        padding-top: 25px

        &:first-child
          border-top: 0px


        &:last-child
          border-bottom: 0px

      >td
        border-bottom: 0px
        border-top: 0px
        width: 20%
        position: relative

        @media only screen and (max-width: $breakpoint-large)
          width: 95%
          text-align: left
          padding-left: 100px

        .node-table--responsive-label
          display: none
          @media only screen and (max-width: $breakpoint-large)
            display: block
            position: absolute
            font-size: 12px
            font-family: $font-family
            left: 0px
            top: 13px


  .node-table--status-label
    font-size: 14px
    width: 10%

  .node-table--status-label-running
    color: #51c961

  .node-table--node-labels
    width: 190px

  .node-table--net-in-header, .node-table--net-in-value
    text-align: left
    width: 10%

    @media only screen and (max-width: $breakpoint-large)
      width: 100%

  .node-table--net-out-header, .node-table--net-out-value
    text-align: left

  .node-table--container-count-header, .node-table--pod-count-header
    text-align: center

  .node-table--node-label
    background-color: #eee
    padding: 3px 5px
    border-radius: 3px
    font-size: 12px
    font-family: "Inconsolata"
    color: #333333
    margin-right: 5px
    display: inline-block

    &:last-child
      margin-right: 0px

  .node-table--node-id
    font-family: "Inconsolata"
    font-size: 12px

    .node-table--node-id-not-truncated
      display: none

    @media only screen and (max-width: $breakpoint-large)
      .node-table--node-id-not-truncated
        display: block
        font-size: 14px

      .node-table--node-id-truncated
        display: none

  .node-table--metric-unit
    color: #cbcbcb

  .node-table--container-count, .node-table--pod-count
    text-align: center

    @media only screen and (max-width: $breakpoint-large)
      text-align: left


.bar-chart
  background-color: #4f6e80
  height: 22px
  vertical-align: middle
  position: relative

.bar-chart--outdated
  opacity: 0.5

.bar-chart--bar
  background-color: #003c78
  height: 22px
  position: absolute
  top: 0px
  z-index: 0
  width: 0%
  transition: width 0.4s cubic-bezier(0, -0.41, 0.19, 1.44)

.bar-chart--value
  text-align: center
  font-size: 10px
  line-height: 22px
  position: absolute
  top: 0px
  width: 100%
  z-index: 1