.platform_selector
  list-style-type: none
  margin: 0px
  margin-bottom: 22px
  padding: 0px

  li.active
    background-color: lighten(#32526a, 10%)

  li
    display: inline
    margin-right: 10px
    cursor: pointer
    background-color: #32526a
    padding: 8px 10px
    border-radius: 4px
