@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)

  100%
    -webkit-transform: rotate(360deg)

.loader
  animation-name: spin
  animation-duration: 1000ms
  animation-iteration-count: infinite
  animation-timing-function: linear

.progress_button--container
  position: relative
  display: inline-block
  margin-bottom: 10px

  .loader
    position: relative
    vertical-align: middle
    width: 22px
    margin: 0px
    margin-right: 10px

  button
    vertical-align: middle
    margin-right: 10px

  button:disabled
    background-color: #888
    transition: background-color 0.02s linear
