#passwordConfirmationGroup, #passwordGroup, #TOSGroup
  max-height: 0
  overflow-y: hidden
  transition-property: all
  transition-duration: 0.5s
  transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000)

.step-1, .step-2, .step-3
  #passwordGroup
    max-height: 500px

.step-2, .step-3
  #passwordConfirmationGroup
    max-height: 500px

.step-3
  #TOSGroup
    max-height: 500px

.signup--container
  position: relative
  margin: auto
  margin-top: 50px
  text-align: left

  input
    background-color: lighten(#32526a, 5%)

  h1
    font-size: 36px
    margin-bottom: 20px

  p.subtitle
    font-size: 22px
    margin-top: 0px

  .loader
    width: 25px
    height: 25px

.signup--status
  text-align: center

.signup--status-text
  font-family: Inconsolata, monospace
  box-sizing: border-box
  width: 100%
  background-color: #333333
  border: 0px
  padding: 8px 12px
  font-weight: 400
  outline: 0
  color: #fff
  margin-bottom: 30px
  color: #f0f0f0
  border-radius: 4px
  text-align: left

  .success
    color: #23c451

  .error
    color: #fc1e70
    background-color: transparent

.signup--submitButton
  .loader
    position: relative
    top: 6px
    left: 12px
