table
  width: 100%
  border-collapse: collapse
  margin-bottom: 25px
  border-bottom: 1px solid #ccc
  margin-top: 0px
  position: relative
  top: -3px
  transition: opacity 0.2s cubic-bezier(0, -0.41, 0.19, 1.44)

  &.fetching
    opacity: 0.5

  thead
    tr
      border-bottom: 1px solid #ccc
      color: #ccc
      letter-spacing: .27px

  th
    text-align: left
    font-weight: normal
    text-transform: uppercase
    font-size: 12px
    padding: 10px


  tr
    .contextual
      transition: opacity 0.2s cubic-bezier(0, -0.41, 0.19, 1.44)
      opacity: 0

    &:hover
      td
        transition: color 0.2s cubic-bezier(0, -0.41, 0.19, 1.44)
        color: #fff

      .contextual
        opacity: 1

  td
    padding: 10px
    color: #ccc
  
    &.truncate
      max-width: 0
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

  td.centered, th.centered
    text-align: center

  i
    color: #ccc
    transition: color 0.2s cubic-bezier(0, -0.41, 0.19, 1.44)

  i:hover
    color: #fff

  &.resource-details
    border-bottom-color: #3a5f7b

  &.resource-details > tbody > tr > td
    border-top: 1px solid #3a5f7b
    color: #eee

    &.value
      font-weight: 400


.table-label
  font-size: 18px
  margin-top: 3px

.section
  border-top: 1px solid #3a5f7b
  margin-bottom: 25px
  margin-top: 25px
  padding-top: 25px

.clickable
  cursor: pointer

.details-table
  border-bottom: 0px
  margin-bottom: 0px
  margin-top: 15px

  tr
    td
      padding: 7px 15px
      color: #eee

.code
  font-family: "Inconsolata"
