@-webkit-keyframes appear {
  0%  {
    -webkit-transform: translate(0,-10px) scaleY(-10px);
  }
  100% {
    -webkit-transform: translate(0,0px) scaleY(-190px);
    -webkit-transform: scaleZ(1px);
  }
}


.textfield, .textarea {
  position: relative;
  margin-bottom: 40px;

  &.has_errors input {
    background-color: #4a606e;
  }

  input {
    transition: all 0.1s linear;
  }

  .message {
    position: relative;
    display: block;
    font-size: 12px;
    color: #fcc;
    animation-name: appear;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }

  .errorContainer {
    height: 20px;
  }
}

.checkbox {
  margin-bottom: 40px;

  input {
    float: left;
    width: auto;
    margin-right: 10px;
    position: relative;
    top: 5px;
    cursor: pointer;
  }

  label {
    cursor: pointer;
  }
}
