{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "classes": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "emotion/import-from-emotion": "error",
    "emotion/jsx-import": "error",
    "emotion/no-vanilla": "error",
    "emotion/styled-import": "error",
    "emotion/syntax-preference": [1, "string"],
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-useless-escape": 0,
    "quotes": [1, "single", {"allowTemplateLiterals": true}],
    "semi": [1, "always"],
    "react/button-has-type": 2,
    "react/prefer-es6-class": [1, "always"],
    "react/no-find-dom-node": 0,
    "strict": 2,
    "sort-imports-es6-autofix/sort-imports-es6": [1, {
      "ignoreCase": true,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }],
    "no-unreachable": 1
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "emotion",
    "react",
    "sort-imports-es6-autofix"
  ],

  "settings": {
    "react": {
      "version": "16.5.2"
    }
  }
}
