{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "classes": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "emotion/import-from-emotion": "error",
    "emotion/jsx-import": "error",
    "emotion/no-vanilla": "error",
    "emotion/styled-import": "error",
    "emotion/syntax-preference": [1, "string"],
    "no-console": 1,
    "no-underscore-dangle": 0,
    "no-unused-vars": [
      2,
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "ignoreRestSiblings": true,
        "args": "all"
      }
    ],
    "no-useless-escape": 0,
    "quotes": [2, "single", { "allowTemplateLiterals": true }],
    "semi": [2, "always"],
    "strict": 2,
    "no-cond-assign": 2,
    "no-constant-condition": 2,
    "no-unreachable": 2,
    "no-dupe-else-if": 2,
    "no-duplicate-case": 2,
    "no-dupe-keys": 2,
    "no-empty": 1,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 1,
    "no-extra-semi": 1,
    "no-func-assign": 2,
    "no-import-assign": 2,
    "no-invalid-regexp": 2,
    "no-obj-calls": 2,
    "no-prototype-builtins": 0,
    "no-template-curly-in-string": 1,
    "no-unsafe-finally": 2,
    "no-unsafe-negation": 2,
    "no-unexpected-multiline": 2,
    "use-isnan": 2,
    "valid-typeof": 2,
    "array-callback-return": 2,
    "block-scoped-var": 2,
    "class-methods-use-this": 2,
    "complexity": 2,
    "consistent-return": 2,
    "default-param-last": 2,
    "eqeqeq": 2,
    "dot-notation": [
      2,
      { "allowPattern": "^(([a-z]+_[a-z]+)|([A-Z][^A-Z]+))+$" }
    ],
    "guard-for-in": 2,
    "max-classes-per-file": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-case-declarations": 2,
    "no-constructor-return": 2,
    "no-else-return": 1,
    "no-empty-function": 2,
    "no-empty-pattern": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extend-native": 2,
    "no-extra-bind": 1,
    "no-extra-label": 1,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-global-assign": 2,
    "no-implicit-coercion": 2,
    "no-implicit-globals": 2,
    "no-implied-eval": 2,
    "no-invalid-this": 0,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 1,
    "no-loop-func": 2,
    "no-magic-numbers": [
      1,
      { "ignore": [-1, 0, 1, 2], "detectObjects": false, "enforceConst": true }
    ],
    "no-multi-str": 1,
    "no-new-func": 2,
    "newline-before-return": 1,
    "no-new-wrappers": 2,
    "no-octal": 2,
    "no-octal-escape": 2,
    "no-param-reassign": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-restricted-properties": 2,
    "no-return-assign": 2,
    "no-return-await": 2,
    "no-script-url": 2,
    "no-self-assign": 1,
    "no-self-compare": 1,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unmodified-loop-condition": 2,
    "no-unused-expressions": 2,
    "no-unused-labels": 2,
    "no-useless-call": 2,
    "no-useless-catch": 1,
    "no-useless-concat": 1,
    "no-useless-return": 1,
    "no-void": 2,
    "no-with": 2,
    "prefer-promise-reject-errors": 1,
    "prefer-regex-literals": 1,
    "require-await": 2,
    "wrap-iife": [2, "any"],
    "yoda": 2,
    "eol-last": 1,
    "init-declarations": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-restricted-globals": 2,
    "no-shadow": 2,
    "no-shadow-restricted-names": 2,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-use-before-define": [2, { "functions": false }],
    "constructor-super": 2,
    "no-class-assign": 2,
    "no-confusing-arrow": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-duplicate-imports": 2,
    "no-new-symbol": 2,
    "no-restricted-imports": 2,
    "no-this-before-super": 2,
    "no-useless-computed-key": 2,
    "no-useless-rename": 2,
    "no-useless-constructor": 1,
    "no-var": 2,
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-rest-params": 2,
    "prefer-spread": 2,
    "require-yield": 2,
    "prefer-template": 2,
    "sort-imports": [
      1,
      { "memberSyntaxSortOrder": ["none", "all", "multiple", "single"] }
    ],
    "react/button-has-type": 2,
    "react/prefer-es6-class": [1, "always"],
    "react/no-find-dom-node": 2,
    "react/default-props-match-prop-types": 2,
    "react/destructuring-assignment": 0,
    "react/no-access-state-in-setstate": 2,
    "react/no-children-prop": 2,
    "react/no-danger": 2,
    "react/no-danger-with-children": 2,
    "react/no-deprecated": 2,
    "react/no-direct-mutation-state": 2,
    "react/no-multi-comp": 1,
    "react/no-redundant-should-component-update": 1,
    "react/no-render-return-value": 2,
    "react/no-typos": 2,
    "react/no-string-refs": 2,
    "react/no-this-in-sfc": 2,
    "react/no-unescaped-entities": 2,
    "react/no-unknown-property": 2,
    "react/no-unsafe": 2,
    "react/no-unused-state": 2,
    "react/prefer-read-only-props": 2,
    "react/prefer-stateless-function": 1,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/require-render-return": 2,
    "react/self-closing-comp": 2,
    "react/state-in-constructor": [2, "never"],
    "react/void-dom-elements-no-children": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-key": 2,
    "react/jsx-no-useless-fragment": 1,
    "react/jsx-no-literals": 0,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-curly-brace-presence": 1,
    "react/jsx-pascal-case": 1,
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 1
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["emotion", "react", "react-hooks"],
  "settings": {
    "react": {
      "version": "16.9.0"
    }
  }
}
