{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "classes": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "strict": 2,
    "no-underscore-dangle": 0,
    "quotes": [1, "single", {"allowTemplateLiterals": true}],
    "semi": [1, "always"],
    "react/button-has-type": 2,
    "react/prefer-es6-class": [1, "always"],
    "react/no-find-dom-node": 0,
    "react/jsx-sort-props": 2,
    "no-console": 0,
    "no-useless-escape": "off",
    "sort-imports-es6-autofix/sort-imports-es6": [2, {
      "ignoreCase": true,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }]
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react",
    "sort-imports-es6-autofix"
  ],

  "settings": {
    "react": {
      "version": "16.5.2"
    }
  }
}
