### Code editors ###
*.sublime-workspace
.vscode/*
!.vscode/*.code-snippets

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

/package-lock.json
/node_modules
/node_modules_linux
/docker-volumes

.tmp
/secrets.env
/dist
tsconfig.tsbuildinfo

# Test Coverage (Jest)
/coverage

# Environmental variables
.env

# Storybook
/storybook-static
