# Managed in https://github.com/giantswarm/github/tree/main/repositories/override/happa/CODEOWNERS

# Teams:
* @giantswarm/team-honeybadger

# Individuals:
package.json @gusevda
yarn.lock @gusevda
/.circleci/config.yml @gusevda
