version: "3"
services:
  happa:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    image: happa-dev:latest
    ports:
      - "7000:7000"
    volumes:
      - $PWD/src:/usr/src/app/src:z
      - $PWD/.eslintrc:/usr/src/app/.eslintrc:z
      # to persist info on used dependencies to the repo
      - $PWD/yarn.lock:/usr/src/app/yarn.lock:z

networks:
  default:
    external:
      name: testing_default
