# Requires secrets.env with:
#
# GIANTSWARM_API_TOKEN=
# MAILGUN_API_KEY=
# PROMETHEUS_PASSWORD=

version: "2"
services:
  happa:
    image: quay.io/giantswarm/happa:latest
    ports:
      - "443:8000"
    links:
      - passage
    environment:
      API_ENDPOINT: https://api.giantswarm.io
      INTERCOM_APP_ID: ictssdcu
      ENVIRONMENT: pre-production
      INGRESS_BASE_DOMAIN: k8s.pre-production-sample.io

  passage:
    image: quay.io/giantswarm/passage:latest
    ports:
      - "5001:5000"
    environment:
      # DEBUGGING: 1
      # NUM_PROXIES: "0"
      HAPPA_BASE_URI: http://localhost
      GIANTSWARM_API_URI: https://api.giantswarm.io
      RATELIMIT_GLOBAL: 1000 per day, 100 per hour, 30 per minute
      RATELIMIT_STORAGE_URL: redis://redis:6379
      MAILGUN_API_ENDPOINT: https://api.mailgun.net/v2/mg.giantswarm.io/messages
    env_file: secrets.env

    links:
      - redis:redis
      - mailcatcher:mailcatcher

  redis:
    image: redis:3.2
    ports:
      - "6379:6379"

  mailcatcher:
    image: quay.io/giantswarm/mailcatcher:latest
    ports:
      - "1080:1080"
      - "1025:1025"

    depends_on:
     - redis
