# This is a template only.
# Copy this file and name it 'secrets.env', and fill in the secrets
# You can find the secrets in keepass: "happa secrets.env"

GIANTSWARM_API_TOKEN=
MAILGUN_API_KEY=
PROMETHEUS_PASSWORD=
