[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytest-helm-charts = "==1.1.1"
pytest = "==7.3.0"
pykube-ng = "==22.9.0"
pytest-rerunfailures = "==11.1.2"

[requires]
python_version = "3.9"
