version: 2
jobs:
  build:
    machine: true
    steps:
    - checkout
  
    - restore_cache:
          keys:
            # Find a cache corresponding to this specific package.json checksum
            # created in this month.
            - v4-npm-deps-{{ checksum "package.json" }}-{{ checksum "yarn.lock" }}
    
    - run:
        name: Inspect and use cache
        command: |
          (test -d node_modules && du -sk node_modules) || mkdir -p node_modules
          echo ""
          find node_modules -maxdepth 1 | sort
          ln -s ./node_modules ./node_modules_linux
  
    - run:
        name: Install architect
        command: |
          wget -q $(curl -sS -H "Authorization: token $RELEASE_TOKEN" https://api.github.com/repos/giantswarm/architect/releases/latest | grep browser_download_url | head -n 1 | cut -d '"' -f 4)
          chmod +x ./architect
          ./architect version

    - run:
        name: Install dependencies (if not there or empty)
        command: |
          if [ "$(du -s node_modules | awk '{print $1}')" -lt "1024" ]; then
            make install-node-modules
          fi

    - run:
        name: Build web application
        command: make dist

    - run:
        name: Build Docker image
        command: ./architect build

    - run:
        name: Test the image we just built
        command: |
          docker run --name testcontainer -p 8000:8000 -d quay.io/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME:$CIRCLE_SHA1
          CURL_OUTPUT=$(curl -s -k https://localhost:8000)
          echo "${CURL_OUTPUT}" | grep Happa
          docker kill testcontainer

    - deploy:
        name: Deploy with architect (master only)
        command: |
          if [ "${CIRCLE_BRANCH}" == "master" ]; then
            ./architect deploy
          fi

    - save_cache:
        key: v4-npm-deps-{{ checksum "package.json" }}-{{ checksum "yarn.lock" }}
        paths:
          - ./node_modules
