version: 2.1
orbs:
  architect: giantswarm/architect@6.3.2

defaults: &defaults
  working_directory: ~/happa
  docker:
    - image: cimg/node:20.11

job_filters: &job_filters
  filters:
    tags:
      only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
    branches:
      ignore:
        - main

whitelist: &whitelist
  paths:
    - dist/*
    - storybook-static/*
    - node_modules/*
    - VERSION
    - ".sentry_release_version"

workflows:
  version: 2

  build:
    jobs:
      - checkout:
          <<: *job_filters
      - gather-facts:
          requires:
            - checkout
          <<: *job_filters
      - test:
          requires:
            - checkout
          <<: *job_filters
      - lint:
          requires:
            - checkout
          <<: *job_filters
      - build:
          requires:
            - gather-facts
          <<: *job_filters

      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          requires:
            - test
            - lint
            - build
          <<: *job_filters

      - launch-container:
          requires:
            - push-to-registries
          <<: *job_filters

      - architect/push-to-app-catalog:
          executor: app-build-suite
          name: push-happa-to-control-plane-app-catalog
          app_catalog: control-plane-catalog
          app_catalog_test: control-plane-test-catalog
          push_to_oci_registry: false
          chart: happa
          persist_chart_archive: true
          requires:
            - launch-container
          # Needed to trigger job also on git tag.
          filters:
            branches:
              ignore:
                - main
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-happa-to-vsphere-app-collection
          app_name: "happa"
          app_collection_repo: "vsphere-app-collection"
          requires:
            - push-happa-to-control-plane-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-to-cloud-director-app-collection
          app_name: "happa"
          app_collection_repo: "cloud-director-app-collection"
          requires:
            - push-happa-to-control-plane-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-to-capa-app-collection
          app_name: "happa"
          app_collection_repo: "capa-app-collection"
          requires:
            - push-happa-to-control-plane-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-to-capz-app-collection
          app_name: "happa"
          app_collection_repo: "capz-app-collection"
          requires:
            - push-happa-to-control-plane-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/run-tests-with-ats:
          name: execute chart tests
          filters:
            branches:
              ignore:
                - main
          requires:
            - push-happa-to-control-plane-app-catalog


      # FE Docs

      - build-fe-docs:
          requires:
            - checkout
          <<: *job_filters

      - architect/push-to-registries:
          context: architect
          name: push-fe-docs-to-registries
          image: giantswarm/fe-docs
          dockerfile: "./Dockerfile.fe-docs"
          requires:
            - build-fe-docs
          <<: *job_filters

      - architect/push-to-app-catalog:
          executor: app-build-suite
          name: push-fe-docs-to-operations-platform-app-catalog
          context: architect
          app_catalog: giantswarm-operations-platform-catalog
          app_catalog_test: giantswarm-operations-platform-test-catalog
          chart: fe-docs
          persist_chart_archive: true
          explicit_allow_chart_name_mismatch: true
          requires:
            - push-fe-docs-to-registries
          <<: *job_filters

jobs:
  checkout:
    <<: *defaults

    steps:
      - checkout

      - restore_cache:
          keys:
          - v3-npm-deps-{{ checksum "yarn.lock" }}
          - v3-npm-deps-

      - run:
          name: Print version information
          command: |
            node --version
            yarn --version

      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile

      - save_cache:
          paths:
            - node_modules
          key: v3-npm-deps-{{ checksum "yarn.lock" }}

      - persist_to_workspace:
          root: ~/happa
          <<: *whitelist

  gather-facts:
    executor: architect/architect

    working_directory: ~/happa
    steps:
      - checkout

      - attach_workspace:
          at: ~/happa

      - run:
          name: Create VERSION file
          command: |
            echo -n "$(architect project version)" > VERSION
            echo "$(cat VERSION)"

      - run:
          name: Determine Sentry project release version
          command: |
            echo -n "happa@$(cat VERSION)" > .sentry_release_version
            echo "$(cat .sentry_release_version)"

      - persist_to_workspace:
          root: ~/happa
          <<: *whitelist

  lint:
    <<: *defaults

    steps:
      - checkout

      - attach_workspace:
          at: ~/happa

      - run:
          name: Typecheck code using the TypeScript compiler
          command: yarn run typecheck

      - run:
          name: Lint code using ESlint
          command: yarn run lint --no-color

      - run:
          name: Validate code style using prettier
          command: yarn run validate-prettier --no-color

  test:
    <<: *defaults
    resource_class: xlarge

    steps:
      - checkout

      - attach_workspace:
          at: ~/happa

      - run:
          name: Run tests
          command: yarn run test --maxWorkers 4

  build:
    <<: *defaults

    steps:
      - checkout

      - attach_workspace:
          at: ~/happa

      - run:
          name: Build web application
          command: SENTRY_RELEASE_VERSION="$(cat .sentry_release_version)" yarn run dist
          environment:
            NODE_ENV: production
            SENTRY_UPLOAD_SOURCEMAPS: 'true'


      - persist_to_workspace:
          root: ~/happa
          <<: *whitelist

  launch-container:
    <<: *defaults
    working_directory: ~/happa
    steps:
      - checkout

      - setup_remote_docker

      - attach_workspace:
          at: ~/happa

      - run:
          name: Launch container for tests
          command: |
            set -x
            docker run --name happa-branch \
              -p 8000:8000 \
              -d \
              "gsoci.azurecr.io/giantswarm/happa:$(cat VERSION)"
            sleep 10
            CURL_OUTPUT=$(ssh remote-docker "curl -s http://localhost:8000")
            echo "${CURL_OUTPUT}" | grep "Giant Swarm web interface"

  build-fe-docs:
    <<: *defaults
    resource_class: large

    steps:
      - checkout

      - attach_workspace:
          at: ~/happa

      - run:
          name: Build FE Docs static assets
          command: NODE_ENV=production yarn run storybook:build

      - persist_to_workspace:
          root: ~/happa
          <<: *whitelist
