html, body {
  background: #234a61;
  font-family: "Roboto";
  color: #eee;
}

h1 {
  font-weight: 200;
}

/* main */

.main {
  img {
  margin-bottom: 10px;
  text-align: center;
  width: 50px;
  }
}