// reusable colors

// --- Background color tones based on our brand's dark blue (#234a61)
// NOTE: please use styled and src/styles/theme.js values where possible!

$darkerblue9: #060c0f
$darkerblue8: #0a141b
$darkerblue7: #0d1b23
$darkerblue6: #10212c
$darkerblue5: #132834
$darkerblue4: #162e3d
$darkerblue3: #193545
$darkerblue2: #1c3c4f
$darkerblue1: #204358

$darkblue: #234a61

$lighterblue1: #375b70
$lighterblue2: #4c6c7e
$lighterblue3: #617d8d
$lighterblue4: #768e9d
$lighterblue5: #8ca0ac
$lighterblue6: #a2b3bc
$lighterblue7: #b9c5cd
$lighterblue8: #d0d8dd
$lighterblue9: #e7ebee

$gold: #ddb03a

// --- Sticky footer ---
html
	height: 100%

main
	flex: 1 0 auto
	padding-top: 120px

	// When the breadcrumbs disapear, move the rest of the site "UP"
	@media only screen and (max-width: 1024px)
		padding-top: 68px

.main-nav
	max-width: 1200px

.main
	max-width: 1200px
	margin: auto
	position: relative
	z-index: 0

footer
	flex-shrink: 0
	font-size: 12px
	color: #8FBCD6
	padding: 30px 0px 15px 0px

	a
		color: #8FBCD6

// --------------------

html, body
	background: $darkblue

h1
	font-weight: 300
	margin-top: 0px
	margin-bottom: 20px

code
	font-family: Inconsolata, monospace
	font-weight: 400
	font-size: 0.9em
	background-color: darken($darkblue, 5%)
	border-radius: 4px
	padding: 3px 4px
	margin: 0px 1px
	color: #c7c5bd

p
	margin-top: 0px

p, small, ul
.centered
	margin: auto

a
	color: #f7f7f7

p, ol, ul
	a
		color: #fff
		text-decoration: underline

a:hover, a:focus
	color: #fff

a:focus
	text-decoration: none

a.active
	font-weight: bold

a
	cursor: pointer

.row
	margin-left: 0px

strong
	font-weight: 700
	color: #ddd

	code
		color: #fff

.well
	background-color: $lighterblue1
	border-radius: 5px
	border: 0px

h3, h1
	line-height: 35px
	.btn-group
		display: inline-block
		float: right

div.tooltip-inner
	max-width: 350px

.close
	font-weight: 300
	color: #fff
	opacity: 0.8

	&:hover
		color: #fff
		opacity: 1.0
		background-color: transparent

.nav-tabs > li > a
	text-decoration: none

	&:hover
		background-color: rgba(255, 255, 255, 0.2)
		color: #fff

.nav-tabs
	margin-bottom: 20px

.nav-tabs > li.active > a
	background-color: $darkblue
	color: #fff
	&:hover, &:focus
		background-color: $darkblue
		color: #fff

hr
	border: 0!important
	border-top: 1px solid #2b455a
	border-bottom: 1px solid #3a5f7b!important // overriding bootstrap

h3
	font-weight: 300
	margin-bottom: 8px
	color: #fff
	position: relative
	top: -7px

small
	display: block
	color: #a6b4c0

.expiring
	color: $gold
