html, body {
  background: #2a4a62;
  padding-bottom: 40px;
  height: auto;
}

h1 {
  font-weight: 200;
}

/* main */

.main {
  img {
    margin-bottom: 10px;
    text-align: center;
    width: 50px;
  }
}

.text-center {
  text-align: center
}

a {
  color: #fff
}