apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ include "fe-docs.name" . }}
  labels:
    {{- include "commonLabels" . | nindent 4 }}
    app: {{ include "fe-docs.name" . }}
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: {{ include "fe-docs.name" . }}
  template:
    metadata:
      name: {{ include "fe-docs.name" . }}
      labels:
        {{- include "commonLabels" . | nindent 8 }}
        app: {{ include "fe-docs.name" . }}
    spec:
      securityContext:
        fsGroup: 1337
        {{- if ge (int .Capabilities.KubeVersion.Minor) 19 }}
        {{- with .Values.podSeccompProfile }}
        seccompProfile:
          {{- . | toYaml | nindent 10 }}
        {{- end }}
        {{- end }}
      containers:
        - name: {{ .Values.image.name }}
          image: "{{ .Values.registry.domain }}/{{ .Values.image.repository }}:{{ .Chart.AppVersion }}"
          imagePullPolicy: Always
          ports:
            - containerPort: {{ .Values.port }}
              name: http
          resources:
            requests:
              cpu: 10m
              memory: 10Mi
            limits:
              cpu: 50m
              memory: 30Mi
          livenessProbe:
            httpGet:
              path: /healthz
              port: {{ .Values.port }}
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 2
          volumeMounts:
            - mountPath: /tmp
              name: nginx-tmp
          securityContext:
            {{- with .Values.containerSecurityContext }}
            {{- . | toYaml | nindent 12 }}
            {{- end }}
            # This is needed for startup and to write configuration files by the app
            readOnlyRootFilesystem: true
            runAsUser: 100
            {{- if ge (int .Capabilities.KubeVersion.Minor) 19 }}
            {{- with .Values.seccompProfile }}
            seccompProfile:
              {{- . | toYaml | nindent 16 }}
            {{- end }}
            {{- end }}
      volumes:
        - name: nginx-tmp
          emptyDir: {}
      serviceAccount: {{ include "fe-docs.name" . }}
      serviceAccountName: {{ include "fe-docs.name" . }}
