{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "fe-docs.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "commonLabels" . | nindent 4 }}
    app: {{ include "fe-docs.name" . }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-giantswarm
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  ingressClassName: nginx
  rules:
    {{- $serviceName := include "fe-docs.name" . -}}
    {{- $port := .Values.port -}}
    {{- if or (not (.Values.hostnames)) (eq (len .Values.hostnames) 0) }}
      {{- fail "value for .Values.hostnames must not be empty" }}
    {{- end }}
    {{- range .Values.hostnames }}
    - host: {{ . }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $serviceName }}
                port:
                  number: {{ $port }}
    {{- end }}
  tls:
    - hosts:
      {{- range .Values.hostnames }}
      - {{ . }}
      {{- end }}
      secretName: {{ include "fe-docs.name" . }}
{{- end }}
