apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ include "fe-docs.name" . }}
  labels:
    {{- include "commonLabels" . | nindent 4 }}
    app: {{ include "fe-docs.name" . }}
