kind: Service
apiVersion: v1
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ include "fe-docs.name" . }}
  labels:
    {{- include "commonLabels" . | nindent 4 }}
    app: {{ include "fe-docs.name" . }}
spec:
  ports:
    - port: {{ .Values.port }}
      targetPort: http
  selector:
    app: {{ include "fe-docs.name" . }}
