apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: happaapi
  namespace: {{ .Values.namespace }}
  labels:
    app: happa
  annotations:
    kubernetes.io/ingress.class: "nginx"

    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"

    nginx.ingress.kubernetes.io/cors-allow-origin: {{ .Values.Installation.V1.GiantSwarm.Happa.Address | quote }}
    nginx.ingress.kubernetes.io/enable-cors: "true"

    {{- if .Values.Installation.V1.GiantSwarm.Happa.API.Letsencrypt }}
    kubernetes.io/tls-acme: "true"
    {{- end }}

    {{- if .Values.Installation.V1.Security.RestrictAccess.GSAPI }}
    nginx.ingress.kubernetes.io/whitelist-source-range: {{ template "whitelistCIDR" . }}
    {{- end }}
spec:
  rules:
  - host: {{ .Values.Installation.V1.GiantSwarm.Happa.API.Host | quote }}
    http:
      paths:
      - backend:
          serviceName: kubernetes
          servicePort: 443
        path: /
  tls:
  - hosts:
    - {{ .Values.Installation.V1.GiantSwarm.Happa.API.Host }}
    secretName: happaapi-certs
