{{ if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
apiVersion: networking.k8s.io/v1
{{ else }}
apiVersion: networking.k8s.io/v1beta1
{{ end }}
kind: Ingress
metadata:
  name: happa
  namespace: giantswarm
  labels:
    app: happa
  annotations:
    {{- if .Values.happa.letsencrypt }}
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-giantswarm"
    {{- end }}
    {{- if .Values.security.restrictAccess.api }}
    nginx.ingress.kubernetes.io/whitelist-source-range: {{ template "whitelistCIDR" . }}
    {{- end }}
spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Values.happa.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
{{ if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
          service:
            name: happa
            port:
              number: 8000
{{ else }}
          serviceName: happa
          servicePort: 8000
{{ end }}
  tls:
  - hosts:
    - {{ .Values.happa.host }}
    secretName: happa-certs
