{{- if .Values.ingress.happa.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: happa
  namespace: giantswarm
  labels:
    app: happa
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.ingress.tls.clusterIssuer }}
    {{- if .Values.security.restrictAccess.api }}
    nginx.ingress.kubernetes.io/whitelist-source-range: {{ template "whitelistCIDR" . }}
    {{- end }}
    {{- if .Values.ingress.externalDNS }}
    external-dns.alpha.kubernetes.io/hostname: {{ .Values.happa.host }}
    giantswarm.io/external-dns: managed
    {{- end }}
spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Values.happa.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: happa
            port:
              number: 8000
  tls:
  - hosts:
    - {{ .Values.happa.host }}
    secretName: happa-certs
{{- end }}
