{{ if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
apiVersion: networking.k8s.io/v1
{{ else }}
apiVersion: networking.k8s.io/v1beta1
{{ end }}
kind: Ingress
metadata:
  name: happa
  namespace: giantswarm
  labels:
    app: happa
  annotations:
    kubernetes.io/ingress.class: "nginx"
    {{- if .Values.Installation.V1.GiantSwarm.Happa.Letsencrypt }}
    kubernetes.io/tls-acme: "true"
    {{- end }}
    {{- if .Values.Installation.V1.Security.RestrictAccess.GSAPI }}
    nginx.ingress.kubernetes.io/whitelist-source-range: {{ template "whitelistCIDR" . }}
    {{- end }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      add_header X-Frame-Options sameorigin always;
      add_header X-XSS-Protection "1; mode=block" always;
      add_header X-Content-Type-Options "nosniff" always;
      add_header Referrer-Policy "no-referrer-when-downgrade" always;
spec:
  rules:
  - host: {{ .Values.Installation.V1.GiantSwarm.Happa.Host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
{{ if .Capabilities.APIVersions.Has "networking.k8s.io/v1/Ingress" }}
          service:
            name: happa
            port:
              number: 8000
{{ else }}
          serviceName: happa
          servicePort: 8000
{{ end }}
  tls:
  - hosts:
    - {{ .Values.Installation.V1.GiantSwarm.Happa.Host }}
    secretName: happa-certs
