<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Giant Swarm web interface</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" sizes="192x192" href="/images/app_icon_192.png" />
    <link rel="icon" sizes="128x128" href="/images/app_icon_128.png" />
    <link
      rel="apple-touch-icon"
      sizes="128x128"
      href="/images/app_icon_128.png"
    />
    <style>
      html {
        background-color: #152531;
      }
    </style>
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:300,400,700,300italic|Inconsolata:400,700|Roboto+Condensed:400,700"
      type="text/css"
    />
    <script src="https://use.fortawesome.com/b5c7b73e.js"></script>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <script>
      var config = {
        apiEndpoint: '{!= apiEndpoint !}',
        mapiEndpoint: '{!= mapiEndpoint !}',
        audience: '{!= audience !}',
        mapiAudience: '{!= mapiAudience !}',
        passageEndpoint: '{!= passageEndpoint !}',
        enableRealUserMonitoring: {!= enableRealUserMonitoring !},
        environment: '{!= environment !}',
        ingressBaseDomain: '{!= ingressBaseDomain !}',
        awsCapabilitiesJSON: '{!- awsCapabilitiesJSON !}',
        azureCapabilitiesJSON: '{!- azureCapabilitiesJSON !}',
        happaVersion: '{!= happaVersion !}',
        defaultRequestTimeoutSeconds: {!= defaultRequestTimeoutSeconds !},
        mapiAuthRedirectURL: '{!= mapiAuthRedirectURL !}',
        mapiAuthAdminGroup: '{!= mapiAuthAdminGroup !}',
        sentryDsn: '{!= sentryDsn !}',
        sentryEnvironment: '{!= sentryEnvironment !}',
        sentryReleaseVersion: '{!= sentryReleaseVersion !}',
        sentryDebug: {!= sentryDebug !},
        sentrySampleRate: {!= sentrySampleRate !},
        info: {
          general: {
            provider: '{!= info.general.provider !}',
            installationName: '{!= info.general.installationName !}',
            availabilityZones: {
              default: {!= info.general.availabilityZones.default !},
              max: {!= info.general.availabilityZones.zones.split(' ').filter(Boolean).length !},
              zones: [
                {! info.general.availabilityZones.zones.split(' ').filter(Boolean).map((zone) => { !}
                  '{!= zone !}',
                {! }) !}
              ]
            },
            dataCenter: '{!= info.general.dataCenter !}',
            kubernetesVersions: {
              {! Object.entries(JSON.parse(info.general.kubernetesVersions)).map(([version, versionInfo]) => { !}
                  '{!= version !}': {
                    minorVersion: '{!= versionInfo.minorVersion !}',
                    eolDate: '{!= versionInfo.eolDate !}',
                  },
              {! }) !}
            },
          },
          workers: {
            countPerCluster: {
              max: {!= info.workers.countPerCluster.max !},
              default: {!= info.workers.countPerCluster.default !},
            },
            instanceType: {
              options: [
                {! info.workers.instanceType.options.split(' ').filter(Boolean).map((option) => { !}
                  '{!= option !}',
                {! }) !}
              ],
              default: '{!= info.workers.instanceType.default !}',
            },
            vmSize: {
              options: [
                {! info.workers.vmSize.options.split(' ').filter(Boolean).map((option) => { !}
                  '{!= option !}',
                {! }) !}
              ],
              default: '{!= info.workers.vmSize.default !}',
            },
          },
        },
      };
      window.config = config;

      window.featureFlags = {
        FEATURE_MAPI_AUTH: {!= FEATURE_MAPI_AUTH !},
        FEATURE_MAPI_CLUSTERS: {!= FEATURE_MAPI_CLUSTERS !},
        FEATURE_MONITORING: {!= FEATURE_MONITORING !},
      };
    </script>

    <style>
      .loading footer {
        display: none;
      }
    </style>
  </head>
  <body class="loading">
    <!--[if lt IE 8]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <noscript>
      <div class="container-fluid">
        <div class="alert alert-warning">
          Dear user, it seems like JavaScript is blocked through your browser or
          connection. Please make sure you can execute JavaScript in order to
          make use of this application.
        </div>
      </div>
    </noscript>

    <div id="app"></div>
  </body>
</html>
