name: Pull Request Validator

on:
  pull_request:
    types: [opened]

jobs:
  validate-pr-metadata:
    runs-on: ubuntu-latest
    steps:
      - name: Assign Author
        uses: technote-space/assign-author@v1.2.11
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Validate PR Title
        uses: deepakputhraya/action-pr-title@v1.0.2
        with:
          regex: '([ a-zA-Z0-9])+'
          prefix_case_sensitive: false
          min_length: 5
          max_length: 100
